
body {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0; left: 0; right: 0; bottom: 0;
  width: auto;
  height: auto;
  color: #888;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.6;
  box-sizing: border-box;
  overflow: hidden;
}

#wrapper, .relative {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


/**
 *  generic
 *****************************/

a {
  color: #28a6ed;
  text-decoration: none;
  -webkit-transform: color 0.2s ease-out;
  -ms-transform: color 0.2s ease-out;
  -o-transform: color 0.2s ease-out;
  transform: color 0.2s ease-out;
  cursor: pointer;
}
a:hover { color: #3f70cf; }


/**
 *  topbar & main
 *****************************/

/* Sizing */
#topbar, #main {
  position: absolute;
  left: 0; right: 0;
  width: auto;
  box-sizing: border-box;
}
#topbar { top: 0;  height: 60px; }
#main { top: 60px; bottom: 0; height: auto; }

/* topbar */
#topbar {
  border-bottom: 1px #cfcfcf solid;
  box-shadow: 0px 1px 8px -2px rgba(0,0,0,0.4);
  background: #fff;
}

#topbar-left {
  position: absolute;
  top: 0; bottom: 0; left: 0;
  height: auto;
  width: auto;
  padding: 13px 26px;
}
#topbar-left h1 {
  font-size: 1.3em;
  font-weight: normal;
  margin: 0;
}


/**
 *  top & bottom
 *****************************/

/* Sizing */
#top, #bottom {
  position: absolute;
  left: 0; right: 0;
  width: auto;
  height: auto;
  box-sizing: border-box;
}
#top { top: 0; bottom: 40%; }
#bottom { top: 60%; bottom: 0; }

/* bottom section */
#bottom { border-top: 1px #cfcfcf solid; }


/**
 *  left & right
 *****************************/

/* Sizing */
#left, #right {
  position: absolute;
  top: 0; bottom: 0;
  width: auto;
  height: auto;
  box-sizing: border-box;
}
#left { left: 0; right: 50%; }
#right { left: 50%; right: 0; }

/* left section */
#left { border-right: 1px #cfcfcf solid; }


/**
 *  frames
 *****************************/

/* Sizing */
#frames-sidebar, #frames {
  position: absolute;
  top: 0; bottom: 0;
  height: auto;
  box-sizing: border-box;
}
#frames-sidebar { left: 0; width: 80px; }
#frames { left: 80px; right: 0; width: auto; }

/* sidebar section */
#frames-sidebar { border-right: 1px #cfcfcf solid; }


/**
 *  viewer
 *****************************/

/* Sizing */
#viewer-window, #viewer-options {
  position: absolute;
  left: 0; right: 0;
  width: auto;
  box-sizing: border-box;
}
#viewer-window { top: 0; bottom: 40px; width: auto; }
#viewer-options { height: 40px; bottom: 0; }

/* options section */
#viewer-options { border-top: 1px #cfcfcf solid; }

.viewer-option {
  float: left;
  padding: 7px 18px;
  font-size: 1.05em;
  border-right: 1px #cfcfcf solid;
}

/* viewer section */
#viewer {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: auto;
  height: auto;
  background: rgba(250,250,250,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(250,250,250,1) 0%, rgba(235,235,235,1) 74%, rgba(209,209,209,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(250,250,250,1)), color-stop(74%, rgba(235,235,235,1)), color-stop(100%, rgba(209,209,209,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(250,250,250,1) 0%, rgba(235,235,235,1) 74%, rgba(209,209,209,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(250,250,250,1) 0%, rgba(235,235,235,1) 74%, rgba(209,209,209,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(250,250,250,1) 0%, rgba(235,235,235,1) 74%, rgba(209,209,209,1) 100%);
  background: radial-gradient(ellipse at center, rgba(250,250,250,1) 0%, rgba(235,235,235,1) 74%, rgba(209,209,209,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#d1d1d1', GradientType=1 );
  box-shadow: 0px 3px 12px -2px rgba(0,0,0,0.4) inset;
}


/**
 *  smaller screens
 *****************************/

@media screen and (max-width: 1280px), screen and (max-height: 720px) {

  body { font-size: 14px; }

  #topbar { height: 46px; }
  #main { top: 46px; }

  #topbar-left { padding: 9px 18px; }

  #frames-sidebar { width: 60px; }
  #frames { left: 60px; }

  #viewer-window { bottom: 32px; }
  #viewer-options { height: 32px; }
  .viewer-option { padding: 5px 14px; }

}
