
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #444;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#wrapper {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: auto;
  height: auto;
}

#content {
  margin-top: 60px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.2;
}


input[type=file] {
  border: none;
  background: none;
}

#header {
  margin-top: 50px;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  position: relative;
  width: 960px;
  margin: auto;
}

button {
  display: inline-block;
  padding: 10px 16px;
  font-size: 0.9em;
  background: #ddd;
  border: none;
  border-radius: 5px;
  -webkit-transition: all 0.12s ease-out;
  -o-transition: all 0.12s ease-out;
  transition: all 0.12s ease-out;
  cursor: pointer;
}

button:hover {
  background: #ccc;
}

:focus {
  outline: none;
}

h1 {
  font-size: 2.4em;
}

h1 > span {
  font-size: 0.7em;
  font-weight: normal;
}

#load_left {
  position: relative;
  display: inline-block;
  background: #f5f5f5;
  height: 360px;
  width: 640px;
  border: 1px #eee solid;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  color: #777;
  font-size: 1.2em;
  -webkit-transition: all 0.12s ease-out;
  -o-transition: all 0.12s ease-out;
  transition: all 0.12s ease-out;
}

#dropzone {
  position: relative;
  background: #f5f5f5;
  height: 100%;
  width: 100%;
  padding-top: 135px;
  -webkit-transition: all 0.12s ease-out;
  -o-transition: all 0.12s ease-out;
  transition: all 0.12s ease-out;
}

#inputfiles {
  display: inline-block;
  cursor: pointer;
  font-size: 1.4em;
  font-weight: bold;
  -webkit-transition: all 0.12s ease-out;
  -o-transition: all 0.12s ease-out;
  transition: all 0.12s ease-out;
}

#inputfiles:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  color: #555;
}

#loaded {
  display: inline-block;
  position: absolute;
  top: 0; right: 0;
  width: 300px;
}

#loaded h3 {
  margin: 0;
  padding: 14px 0px;
  border-bottom: 1px #777 solid;
}

#loaded section {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 306px;
  margin: 0;
  margin-left: 20px;
  padding-bottom: 30px;
}

#loaded ul {
  margin: 0;
}

#loaded li {
  word-wrap: break-word;
}

#loaded span {
  position: relative;
  vertical-align: middle;
  margin-left: 5px;
  display: none;
  width: 22px;
  height: 22px;
  cursor: pointer;
  opacity: 0.2;
  -webkit-transition: all 0.12s ease-out;
  -o-transition: all 0.12s ease-out;
  transition: all 0.12s ease-out;
}

#loaded li:hover span {
  display: inline-block;
}

#loaded li span img {
  display: block;
  width: 100%;
  height: 100%;
}

#loaded li span:hover {
  opacity: 0.4;
}

#loaded h4 {
  margin: 0;
  padding-top: 30px;
}

#loaded .noFileLoaded {
  color: #aaa;
}

#load_panel {
  position: relative;
  overflow: hidden;
}

#overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: auto;
  height: auto;
  z-index: 100;
  background-color: rgba(120, 120, 120, 0.2);
}

#modal {
  position: relative;
  width: 640px;
  margin: auto;
  margin-top: 220px;
  background-color: #fff;
  border-radius: 5px;
  padding: 32px;
  box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.4);
}

#modal h3 {
  margin: 0;
}

#modal header {
  padding: 12px 0px;
  border-bottom: 1px #777 solid;
}

#modal div {
  padding: 24px 0px;
  max-height: 340px;
  overflow-x: auto;
}

#modal ul {
  margin: 0;
}

#modal li {
  padding: 2px 0px;
}

#modal footer {
  margin-top: 30px;
  text-align: right;
}
